#map{
    position: absolute;
    border:7px solid black;
    font-family:monospace;
    font-size:30px;
    padding:8px;
    top: 25%;
    left: 40%;
}
.mapItem {
    display: inline-block;
  }

#inventory{
    position: absolute;
    border:7px solid black;
    font-family:monospace;
    font-size:35px;
    padding:8px;
    top: 20%;
    left: 25%;
}

#invList{
    font-family:monospace;
    font-size:20px;
    list-style-type: none;
}