#map{
    position: absolute;
    border:7px solid black;
    font-family:monospace;
    font-size:30px;
    padding:8px;
    top: 25%;
    left: 40%;
}
.mapItem {
    display: inline-block;
  }

#inventory{
    position: absolute;
    border:7px solid black;
    font-family:monospace;
    font-size:35px;
    padding:8px;
    top: 20%;
    left: 15%;
}

#invList{
    font-family:monospace;
    font-size:20px;
    list-style-type: none;
}

#chatBox{
    position: absolute;
    border:7px solid black;
    font-family:monospace;
    font-size:35px;
    padding:8px;
    top: 60%;
    left: 23%;
    height:20%;
    width:45%;
}

#chat{
    font-family:monospace;
    font-size:20px;
    list-style-type:none;
}